In [1]:
import findspark
findspark.init("/u/cs451/packages/spark")

In [2]:
from pyspark.sql import SparkSession
import random
spark = SparkSession.builder.appName("YourTest").master("local[2]").config('spark.ui.port', random.randrange(4000,5000)).getOrCreate()

In [10]:
spark.version

'2.3.1'

In [8]:
df = spark.read\
.option("wholeFile", True)\
.option("inferSchema", True)\
.option("header", True)\
.option("multiline", True)\
.option('quote', '"')\
.option('escape', '"')\
.csv("alldata.csv")
display(df)

DataFrame[position: string, company: string, description: string, reviews: int, location
: string]

In [30]:
df.printSchema()

root
 |-- position: string (nullable = true)
 |-- company: string (nullable = true)
 |-- description: string (nullable = true)
 |-- reviews: integer (nullable = true)
: string (nullable = true)

In [35]:
type(df)

pyspark.sql.dataframe.DataFrame

In [36]:
df.count()

6964

In [38]:
len(df.columns), df.columns

(5, ['position', 'company', 'description', 'reviews', 'location\r'])

In [31]:
df.show(3)

+--------------------+------------------+--------------------+-------+------------------+
|
+--------------------+------------------+--------------------+-------+------------------+
|Development Director|           ALS TDI|Development Direc...|   null|Atlanta, GA 30301 |
|An Ostentatiously...|The Hexagon Lavish|Job Description

...|   null|       Atlanta, GA|
|      Data Scientist|    Xpert Staffing|Growing company l...|   null|       Atlanta, GA|
+--------------------+------------------+--------------------+-------+------------------+
only showing top 3 rows

In [39]:
df.describe().show()

+-------+--------------------+-----------------+--------------------+------------------+-----------------+
|
+-------+--------------------+-----------------+--------------------+------------------+-----------------+
|  count|                6953|             6953|                6953|              5326|             6964|
|   mean|                null|           1238.0|                null|3179.0891851295532|             null|
| stddev|                null|895.1971849821691|                null| 8448.515056351427|             null|
|    min|(Contract) Busine...|     10x Genomics|
|
|    max|senior data scien...|               쿠팡|职位:数据分析工程师工作地点:加州...|            148114|Yonkers, NY 10701|
+-------+--------------------+-----------------+--------------------+------------------+-----------------+

In [22]:
df.select('company').groupby('company').count().orderBy('count', ascending=0).show(5)

+------------------+-----+
|           company|count|
+------------------+-----+
|        Amazon.com|  358|
|    Ball Aerospace|  187|
|         Microsoft|  137|
|            Google|  134|
|NYU Langone Health|   77|
+------------------+-----+
only showing top 5 rows

In [25]:
df.select('position').groupby('position').count().orderBy('count', ascending=0).show(5)

+--------------------+-----+
|            position|count|
+--------------------+-----+
|      Data Scientist|  351|
|Senior Data Scien...|   96|
|    Research Analyst|   64|
|       Data Engineer|   60|
|Machine Learning ...|   56|
+--------------------+-----+
only showing top 5 rows

In [33]:
df.na.fill({'reviews': 0}).show(5)

+--------------------+------------------+--------------------+-------+------------------+
|
+--------------------+------------------+--------------------+-------+------------------+
|Development Director|           ALS TDI|Development Direc...|      0|Atlanta, GA 30301 |
|An Ostentatiously...|The Hexagon Lavish|Job Description

...|      0|       Atlanta, GA|
|      Data Scientist|    Xpert Staffing|Growing company l...|      0|       Atlanta, GA|
|        Data Analyst|    Operation HOPE|DEPARTMENT: Progr...|     44|Atlanta, GA 30303 |
|Assistant Profess...|  Emory University|DESCRIPTION
The E...|    550|       Atlanta, GA|
+--------------------+------------------+--------------------+-------+------------------+
only showing top 5 rows

In [34]:
df.select('reviews').show(5)

+-------+
|reviews|
+-------+
|   null|
|   null|
|   null|
|     44|
|    550|
+-------+
only showing top 5 rows

In [41]:
from pyspark.ml.feature import Tokenizer
from pyspark.ml import Pipeline

tokenizer = Tokenizer(inputCol="description", outputCol="words")

pipeline = Pipeline(stages=[tokenizer])

pipelineFit = pipeline.fit(df)
df = pipelineFit.transform(df)
#val_df = pipelineFit.transform(val_set)
#df.show(5)

+--------------------+------------------+--------------------+-------+------------------+--------------------+
|               words|
+--------------------+------------------+--------------------+-------+------------------+--------------------+
|Development Director|           ALS TDI|Development Direc...|   null|Atlanta, GA 30301 |[development, dir...|
|An Ostentatiously...|The Hexagon Lavish|Job Description

...|   null|       Atlanta, GA|[job, description...|
|      Data Scientist|    Xpert Staffing|Growing company l...|   null|       Atlanta, GA|[growing, company...|
|        Data Analyst|    Operation HOPE|DEPARTMENT: Progr...|     44|Atlanta, GA 30303 |[department:, pro...|
|Assistant Profess...|  Emory University|DESCRIPTION
The E...|    550|       Atlanta, GA|[description, the...|
+--------------------+------------------+--------------------+-------+------------------+--------------------+
only showing top 5 rows

In [44]:
df.select('words').take(2)

[Row(words=['development', 'director', 'als', 'therapy', 'development', 'institute', 'has', 'an', 'immediate', 'opening', 'for', 'development', 'directors.', 'reporting', 'directly', 'to', 'the', 'senior', 'development', 'director,', 'the', 'development', 'director', 'at', 'als', 'tdi', 'is', 'a', 'senior', 'fundraising', 'position', 'working', 'to', 'identifying', 'potential', 'prospects', 'and', 'cultivating', 'solicitation', 'strategies', 'and', 'in', 'closing', 'asks', 'with', 'donors', 'including', 'individuals', 'and', 'corporations', 'by', 'building', 'networks', 'via', 'events,', 'generating', 'awareness', 'of', 'als', 'tdi;', 'outreach', 'including', 'attending', 'and', 'speaking', 'at', 'events', 'as', 'well', 'as', 'personally', 'cultivates', 'relationships', 'with', 'patients,', 'prospects', 'and', 'donors.', 'this', 'position', 'will', 'be', 'responsible', 'for', 'generating', 'and', 'managing', 'a', 'portfolio', 'of', 'at', 'least', 'two', 'million', 'to', 'five', 'million', 'dollars', 'per', 'year.', 'this', 'position', 'will', 'be', 'located', 'in', 'atlanta,', 'ga.', '', 'requirements:', "bachelor's", 'degree', 'requiredminimum', '6-8', "years'", 'experience', 'in', 'fundraising', 'and', 'business', 'developmentsuccessful', 'track', 'recording', 'in', 'fundraising', 'with', 'major', 'donors', 'or', 'scientific', 'sales', 'preferreddemonstrated', 'ability', 'to', 'work', 'independently', 'and', 'make', 'progress', 'on', 'several', 'prospects/projects', 'at', 'the', 'same', 'time.excellent', 'english', 'oral,', 'written', 'and', 'presentation', 'skillsstrong', 'leadership', 'and', 'management', 'skills,', 'as', 'well', 'as', 'the', 'ability', 'to', 'forge', 'strong', 'interpersonal', 'relationshipsability', 'to', 'travelexcellent', 'computer', 'skills', 'including', 'use', 'of', 'word', 'processing,', 'spreadsheet,', 'database,', 'presentation', 'and', 'prospect', 'management', 'software', 'operating', 'off', 'a', 'pc-based', 'system', 'including', 'salesforce.', 'about', 'als', 'therapy', 'development', 'institute', '(als.net)', '', 'the', 'als', 'therapy', 'development', 'institute', '(als.net)', 'and', 'its', 'scientists', 'actively', 'discover', 'and', 'develop', 'treatments', 'for', 'als.', 'als.net', 'is', 'the', "world's", 'first', 'and', 'largest', 'nonprofit', 'biotech', 'focused', '100%', 'on', 'als', 'research.', 'led', 'by', 'als', 'patients', 'and', 'their', 'families,', 'the', 'charity', 'understands', 'the', 'urgent', 'need', 'to', 'slow', 'and', 'stop', 'this', 'horrible', 'disease.', 'als.net,', 'based', 'in', 'cambridge,', 'ma,', 'has', 'served', 'as', 'one', 'of', 'the', 'leaders', 'in', 'sharing', 'data', 'and', 'information', 'with', 'academic', 'and', 'als', 'research', 'organizations,', 'patients', 'and', 'their', 'families.', 'for', 'more', 'information,', 'visit', 'www.als.net.', '', 'to', 'apply', 'please', 'apply', 'at', 'https://als.applicantpro.com.', 'please', 'include', 'a', 'cover', 'letter,', 'salary', 'requirements', 'and', 'resume.', 'no', 'phone', 'calls', 'please.', 'als', 'tdi', 'is', 'an', 'equal', 'opportunity', 'employer.']),
 Row(words=['job', 'description', '', '"the', 'road', 'that', 'leads', 'to', 'accomplishment', 'is', 'narrow."', '-desmond', 'ostentatious', 'is', 'a', 'strong', 'adjective', 'that', 'fits', 'the', 'description', 'of', 'an', 'individual', 'that', 'inhibits', 'the', 'natural', 'and', 'innate', 'spirit', 'of', 'vivaciousness,', 'vigor', 'and', 'the', 'eager', 'characteristics', 'that', 'comprise', 'the', 'disposition', 'of', 'one', "who's", 'willing', 'to', 'learn;', 'to', 'take', 'on', 'the', 'attitude', 'of', '"the', 'eternal', 'student".', 'with', 'that', 'said,', 'atlanta,', 'georgia-based', 'scientific', 'r&amp;d', 'outfit,', 'hexagon', 'lavish®,', 'has', 'an', 'open', 'position', 'for', 'an', 'excitable', 'principal', 'research', 'assistant', 'that', 'will', 'be', 'mentored', 'and', 'guided', 'by', 'our', 'chief', 'science', 'officer.', 'this', 'position', 'includes', 'computational', 'and', 'statistical', 'analysis', 'of', 'sequencing', 'studies,', 'technical', 'and', 'logistical', 'collaboration', 'with', 'international', 'consortia.', 'as', 'well,', 'the', 'excitable', 'principal', 'research', 'assistant', 'will', 'be', 'responsible', 'for', 'setting', 'the', 'schedule', 'for', 'entry-level', 'scientists', 'whom', 'will', 'also', 'be', 'guided', 'by', 'our', 'chief', 'scientist.', 'the', 'excitable', 'principal', 'research', 'assistant', 'will', 'also', 'be', 'in', 'charge', 'of', 'delegating', 'reports', 'and', 'responsibilities', 'to', 'the', 'project', 'leads', 'on', 'behalf', 'of', 'the', 'chief', 'science', 'officer', 'and', 'the', 'chief', 'technology', 'officer.', 'the', 'excitable', 'principal', 'research', 'assistant', 'will', 'engage', 'entry-level', 'scientists', 'and', 'researchers,', 'setting-up', 'work', 'schedules', 'for', 'entry-level', 'scientists', 'and', 'researchers', 'and', 'also', 'be', 'heavily-involved', 'in', 'workshops', 'and', 'internal', 'team', 'seminars', 'as', 'well', 'as', 'perform', 'clerical', 'and/or', 'administrative', 'duties', 'such', 'as', 'reports', 'that', 'are', 'directly', 'to', 'be', 'addressed', 'to', 'the', 'chief', 'science', 'officer.', '***', 'a', 'solid', 'background', 'in', 'constructive', 'optics', 'algorithms', 'combined', 'with', 'expansive', 'computer', 'vision', 'and', 'image', 'inferential', 'is', 'the', 'most', 'preferable', 'candidacy.', '***', 'qualifications', '', 'integrating', 'data', 'across', 'formats', 'and', 'sources', 'by', 'robust', 'synchronization', 'with', 'existing', 'datasets', 'and', 'databases', '', 'under', 'general', 'direction,', 'developing', 'innovative', 'analytical', 'methods', 'to', 'enable', 'collaborators', 'to', 'interpret', 'and', 'design', 'follow-up', 'research', '', 'providing', 'support', 'to', 'internal', 'team', 'members', 'across', 'all', 'interdisciplinary', 'backgrounds', '', 'lead', 'and', 'contribute', 'to', 'manuscript', 'preparation', 'as', 'well', 'as', 'internal', 'and', 'external', 'project-team', 'reports', '', 'actively', 'participating', 'in', 'project', 'team', 'and', 'group', 'meetings', 'additional', 'information', '', 'essential', 'job', 'functions', 'ph.d.', 'in', 'computer', 'science,', 'mathematics,', 'statistics,', 'chemistry,', 'or', 'other', 'quantitative', 'discipline', 'required', '', '5+', 'years', 'experience,', 'with', 'varying', 'datasets', 'and', 'experience', 'with', 'computational', 'biology/statistics/physics,', 'mathematics,', 'computer', 'science,', 'algorithms/incorporate', 'learning,', 'etc.', '', 'relevant', 'experience', 'or', 'formal', 'training', 'in', 'laboratorial', 'and/or', 'clinical', 'research', '', 'must', 'have', 'demonstrable', 'proficiency', 'with', 'several', 'standard', 'computational', 'languages', 'and', 'also', 'some', 'form', 'of', '"esoteric', 'programming"', '', 'familiarity', 'with', 'image', 'inferential', 'analysis', 'tools', '', 'familiarity', 'with', 'a', 'range', 'of', 'optics', 'algorithm', 'tools', '', 'thorough', 'understanding', 'of', 'statistics', 'preferred', '', 'application', 'of', 'modeling', 'and', 'software', 'expertise', 'for', 'analysis', 'of', 'complex', 'r&amp;d', 'efforts', '', 'conduct', 'feasibility', 'studies', 'to', 'provide', 'technical', 'assessment', 'of', 'proposed', 'research', '', 'preparation', 'of', 'briefing', 'materials,', 'research', 'announcements,', 'and', 'technical', 'reports', '', 'technical', 'monitoring', 'of', 'r&amp;d', 'efforts', 'for', 'adherence', 'to', 'statement', 'of', 'work', '(sow)', 'tasks,', 'program', 'milestones,', 'and', 'deliverables', '', 'participation', 'in', 'program', 'reviews/site', 'visits/field', 'tests', 'and', 'coordination', 'of', 'scientific', 'workshops', 'as', 'required', '', 'summarize', 'and', 'communicate', 'the', 'intellectual', 'content', 'of', 'scientific', 'and', 'technological', 'information', 'to', 'both', 'scientific', 'and', 'non-scientific', 'audiences', '', 'interact', 'with', 'stakeholders', 'from', 'multiple', 'disciplines', 'including', 'engineering,', 'biology,', 'neuroscience,', 'clinical,', 'regulatory', 'and', 'policy', 'teams', '', 'demonstrable', 'mastery', 'of', 'high-performance', 'computing', 'of', 'the', 'low-level,', 'high-performance', 'development', 'skills', 'needed', 'to', 'perform', 'research', 'on', 'distributed,', 'highly', 'scalable', 'architectures', 'conducive', 'to', 'the', 'evolving', 'nature', 'of', 'pir', '', 'other', 'essential', 'job', 'functions', 'sound', 'decision-maker', '', 'establish', 'effectiveness', 'as', 'a', 'mentor', '', 'be', 'contributory', 'to', 'the', 'scientific', 'endeavors', 'of', 'the', 'company', '', 'other', 'skills/abilities', 'excellent', 'communication', 'skills,', 'both', 'verbally', 'and', 'in', 'written', 'form', '', 'fluent', 'in', 'english', '', 'strong', 'interpersonal', 'skills', '', 'must', 'demonstrate', 'a', 'high', 'degree', 'of', 'integrity,', 'trustworthiness,', 'respect', 'for', 'others', 'and', 'the', 'ability', 'to', 'deal', 'appropriately', 'with', 'confidential', 'and', 'sensitive', 'information', '', '', 'must', 'demonstrate', 'an', 'understanding', 'and', 'acceptance', 'of', 'hexagon', 'lavish®’s', 'mission,', 'vision', 'and', 'values', '', 'hexagon', 'lavish®', 'is', 'an', 'equal', 'opportunity', 'employer'])]

In [11]:
import pandas as pd
df_pandas = pd.read_csv("alldata.csv")

In [12]:
df_pandas.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"